@tailwind base;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #ffffff;   /* pure-white */
    color: #000000;              /* pure-black */
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .text-shadow-premium {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }
}